/* Padronizações de estilos globais */
/* Aplicar um modelo de layout de caixa natural a todos os elementos,
 mas permitindo que os componentes mudem */

*{
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to right, #5c1d8f, #7634a1);

}
.main {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

/* Botoões */
.botao {
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 2;
    cursor: pointer;
    border: 1px solid rgb(250, 249, 249);/* Cor das linhas entre os botõeps */
    outline: none;
    background-color: #31047abf; /* Cor dos boões */
}

.botao:hover {
    background-color: rgba(237, 74, 243, 0.9); /* Cor ao passar o mouse por cima */
}

/* Visor da calculadora */
.visor{
    width: 204px;
    height: 50px;
    border: 0;
    font-size: 25px;
    background-color: rgba(81, 82, 85, 0.75); /* Cor do visor */
    outline: none;
    margin-left: 3px;
    
}