/* Padronizações de estilos globais */
/* Aplicar um modelo de layout de caixa natural a todos os elementos,
 mas permitindo que os componentes mudem */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: 'KoHo', sans-serif;
  margin: 0;
}
h1, h2 {
  font-family: 'Cormorant', serif;
  font-weight: 400;
}
h1 {
  font-size: 60px;
}
h2 {
  font-size: 40px;
  margin-top: 0;
}
h3 {
  margin: 0;
}
a {
  color: #070707;
}
a:hover {
  text-decoration: none;
}

.content-wrap {
  max-width: 950px;
  margin: 0 auto;
  padding: 50px 50px;
  overflow: hidden;
}
.hide {
   display: none;
}
.uppercase {
  text-transform: uppercase;
}

/* Cabeçalho e Rodapé */
header, footer {
  background: #050505;
  color: #dddddd;
}
/* header */
header {
  padding-top: 50px;
  position: relative;
}
header h1, header h2 {
  color: #EDF2F4;
  margin: 0;
}
.profile-img {
  border-radius: 50%;
}

.content-wrap img {
  width: 200px;
  height: 200px;
}

/* Rodapé */
footer {
  text-align: center;
}
.contato a {
  color: #ffffff;
  padding: 10px;
  display: inline-block;
}

/* Navegação */
nav {
  text-align: center;
  background: white;
  position: fixed;
  top: 0;
  width: 100%;  
}
nav a {
  display: inline-block;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}

/* Experiencia de trabalho */
.experiencia {
  background: #ffffff;
}
h3 ~ p {
  margin: 0;
}
.descricao-empresa {
  margin-bottom: 25px;
}
.descricao-empresa p:first-of-type {
  margin-top: 0;
}

/* Dados Pessoais */
.dados {
  background: #ffffff;
}
h3 ~ p {
  margin: 0;
}
.dados-pessoais {
  margin-bottom: 25px;
}
.dados-pessoais p:first-of-type {
  margin-top: 0;
}

.dados .content-wrap{
  padding: 0;
}


/* Formação */
.formacao {
  background: linear-gradient(rgba(109, 124, 123, 0.8), rgba(118, 160, 160, 0.5)),
              url(../images/ufu.jpeg) no-repeat fixed;
  background-size: cover;
}
p + h3 {
  margin-top: 30px;
}

/* Mídias*/
@media (min-width: 900px) {
  .col-narrow {
    width: 30%;
    float: left;    
  }
  .col-wide {
    width: 70%;
    float: left;
    padding-left: 20px;
  }
}
@media (max-width: 899px){
  header {
    text-align: center;
  }
  .profile-img {
    width: 200px;
  }
}
